-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: commande
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `commande`
--
CREATE DATABASE IF NOT EXISTS `panier` CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci;
USE `panier`;

DROP TABLE IF EXISTS `panier`;

CREATE TABLE `panier` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_details` tinytext NOT NULL,
  `disponibilité` tinyint(1) DEFAULT NULL,
  `quantité` int NOT NULL,
  `prix` double NOT NULL,
  `a_retirer` timestamp NULL DEFAULT NULL,
  `nom_panier` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `panier` WRITE;
INSERT INTO `panier` VALUES (3,'Pommes, bananes',1,6,2.99,'2025-01-04 14:48:24','Fruits '),(23,'Pain, tartes, croissants',1,8,3.49,'2025-01-11 14:43:49','Patisserie ');
UNLOCK TABLES;
